$dark-transition-time: 0.3s;
#app.light {
  background-color: #ffffff;
}
.light {
  &.tarnsition-loading {
    transition: all 0.3s;
  }
  .divider {
    border-left-color: #333434;
  }
  .navbar .el-icon-notebook-2:before {
    font-size: 26px;
    color: #4592af;
  }
  .el-dropdown-link {
    cursor: pointer;
    color: #4592af;
  }
  .el-icon-setting {
    color: #4592af;
  }
  .card-horizontal .card-title,
  .card-vertical .card-title {
    color: #e8e8ff;
  }
  .card-description {
    color: rgba(216, 216, 255, 0.4);
  }
  .card:hover {
    background: hsla(0, 0%, 100%, 0.05);
    border: 1px solid hsla(0, 0%, 87.8%, 0.14);
    box-shadow: none;
    .card-description {
      color: #d8d8ff;
    }
  }
  .el-drawer__body {
    background-color: #121316;
  }
  .setting-title-text {
    color: #4592af;
  }
  .setting-content {
    background-color: #222831;
  }
  .setting-item-title {
    color: #e8e8ff;
  }
  .el-switch__core {
    border-color:#393e46;
    background: #393e46;
    &:after {
      background-color: #e8e8ff;
    }
  }
  .el-switch__label {
    color: #e8e8ff;
  }
  .el-drawer {
    box-shadow: 0 8px 10px -5px rgba(255, 255, 255, .2),
    0 16px 24px 2px rgba(255, 255, 255, 0.14), 0 6px 30px 5px rgba(255, 255, 255, .12);
  }
}
