.setting-title {
  font-size: 18px;
  padding: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  i {
    cursor: pointer;
    font-size: $title-icon-size;
  }
}
.setting-title-container {
  display: flex;
  align-items: center;
}
.setting-title-text {
  font-size: $title-font-size;
}
.el-icon-setting {
  margin-top: 2px;
  margin-right: 5px;
  transition: transform 0.8s;
  &.active {
    color: #007dff;
    transform: rotate(0.5turn);
  }
}
.setting-content {
  padding: 26px;
  background-color: #f8f9fe;
  min-height: calc(100vh - 77px);
}
.setting-item {
  padding-bottom: 22px;
}
.setting-item-title {
  font-weight: 600;
  color: #555466;
  padding-bottom: 16px;
}
